@import './mixin.scss';
@import './color.scss';
/**
圆
**/
.circle {
  border-radius: 50%;
}

/**
flex
jc
ai
**/
.f {
  display: flex;
}

.f-c-c {
  @include flexible(center, center);
}

.f-sb-c {
  @include flexible(space-between, center);
}

.f-s-c {
  @include flexible(flex-start, center);
}

.f-s-e {
  @include flexible(flex-start, flex-end);
}

.f-s-s {
  @include flexible(flex-start, flex-start);
}

.f-s-st {
  @include flexible(flex-start, stretch);
}

.f-sb-s {
  @include flexible(space-between, flex-start);
}

.f-sb-st {
  @include flexible(space-between, stretch);
}

.f-c-st {
  @include flexible(center, stretch)
}

.f-sa-c {
  @include flexible(space-around, center);
}

.f-e-c {
  @include flexible(flex-end, center);
}

.fc {
  flex-direction: column;
}

.f1 {
  flex: 1;
}

.fs {
  flex-shrink: 0;
}

.ellipsis1 {
  @include ellipsis(1); 
  word-break: break-all; 
}

.ellipsis2 {
  @include ellipsis(2);
  word-break: break-all; 
}

// 右侧箭头
.arrow-r {
  display: inline-block;
  height: 16rpx;
  width: 16rpx;
  border-width: 4rpx;
  border-color: transparent;
  border-style: solid;
  border-top-color: $main-color;
  border-left-color: $main-color;
  transform: rotate(135deg);
}
$border: 1rpx solid rgba(224,224,225,0.4)