@import './color.scss';
@import './calc.scss';
@import './base.scss';

.scroll-layout-wrap {
  @extend .f-s-st;
  @extend .fc;
  width: 100%;
  height: 100%;
}

.scroll-layout-content {
  @extend .f1;
  position: relative;

  scroll-view {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.scroll-inner-view {
  min-height: 101%;
  width: 100%;
}