@import '../../style/index.scss';
page {
  background-color: #f5f5f5;
}
.detail {
  .swiper {
    height: 700rpx;
    .slide-image {
      height: 100%;
      .image {
        height: 100%;
      }
    }
  }
  .detail-content-wrap {
    margin-top: 20rpx;
  }
}